<?xml version="1.0" standalone="yes"?>
<appSettings>
  <add key="PasswordChangeDaysAllowed" value="09876543" />
  <add key="PasswordChangeDaysAllowed1" value="60" />
  <add key="PasswordChangeDaysAllowed2" value="25" />
  <add key="PasswordChangeDaysAllowed3" value="30" />
  <add key="DefaultApproverID" value="70008042" />
  <add key="DefaultApproverName" value="Neeta Sawant" />
  <add key="DefaultApproverDesignation" value="System Admin" />
  <add key="DefaultApproverEmail" value="neeta.sawant@relianceada.com" />
  <add key="DefaultDayForInactiveUser" value="45" />
  <add key="jjhkjkjhklhhkhkh86969689689" value="abcdefgh68868686868" />
  <add key="jjhkjkjhklhhkhkh86969689689" value="jbjgjgjffufjfjfuj68868686868" />
  <add key="great1234567" value="helloworld7654321" />
  <add key="helloworld12345678" value="helloabc12345678" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellworedgreenorange" value="yellworedgreenorange" />
  <add key="yellowblueorangegreenvoilet" value="yellowblueorangegreenvoilet" />
  <add key="beautiful nature" value="jhgfdfghj" />
<add key="ADSDomain" value="http://10.65.5.73:8081/api/Values/" />
</appSettings>