<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <sectionGroup name="system.serviceModel" type="System.ServiceModel.Configuration.ServiceModelSectionGroup, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="protocolMapping" type="System.ServiceModel.Configuration.ProtocolMappingSection, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!--<add name="CallDeskDB" connectionString="Data Source=10.65.5.125;Initial Catalog=CallDeskManagement;User ID=tranLogUser ;Password=tran.Log" />-->
    <!--<add name="CallDeskDB" connectionString="Data Source=10.65.5.125;Initial Catalog=CallDeskManagement;User ID=calldesk ;Password=CalldesK" />-->
    <!--<add name="CallDeskDB" connectionString="Data Source=RGIRMSCDdb.reliancegeneral.com,7359;Initial Catalog=CALLDESKMANAGEMENT;User ID=calldesk ;Password=calldesk;Max Pool Size=500;Min Pool Size=10;Pooling=true;" />-->
    <add name="CallDeskDB" connectionString="Data Source=10.65.15.148,7359;Initial Catalog=CallDeskManagement;User ID=calldesk ;Password=calldesk" />
    <add name="CallDeskManagementConnectionString1" connectionString="Data Source=10.62.68.133;Initial Catalog=CallDeskManagement;Persist Security Info=True;User ID=Claim;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient" />
    <add name="CallDeskManagementConnectionString" connectionString="Data Source=10.62.68.133;Initial Catalog=CallDeskManagement;User ID=Claim;Password=Claim1" providerName="System.Data.SqlClient" />
    <add name="CallDeskDB123" connectionString="Data Source=RGIRMSCDdb.reliancegeneral.com,7359;Initial Catalog=CallDeskManagement;User ID=calldesk;Password=calldesk; Pooling=true;Max Pool Size=2000;Connect Timeout=120;" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties=Excel 8.0; " />
  </connectionStrings>
  <appSettings>
    <!-- Calldesk Production Start-->
    <!--<add key="ADSDomain" value="RELIANCECAPITAL.com" />
		<add key="UploadSavePath1" value="E:\CallDesk v2.0\CallDeskOnline\Files\" />
		<add key="FileTemplatePath" value="E:\CallDesk v2.0\CallDeskOnline\TemplateFiles\" />
		<add key="UploadsavePathWebsite" value="http://calldesk.reliancegeneral.co.in:8080/" />
		<add key="AuthCustomHeader" value="TRUE" />
		<add key="SkipCustomHeader" value="TRUE" />
		<add key="TimeDuration" value="5" />
		<add key="MobileSecureKey" value="pass@123" />
		<add key="UploadSavePath" value="http://calldesk.reliancegeneral.co.in:8080/" />
		<add key="PasswordChangeDaysAllowed" value="50" />
		<add key="TechDeskService.TechDesk" value="http://10.65.5.80/sbm/services/TechDesk?wsdl" />		
    <add key="SMSSendService.SendMessage" value="http://rgisms.reliancegeneral.co.in/services/SendMessage.svc" />
		<add key="POSUserValidate.UserdetailService" value="http://pos.reliancegeneral.co.in/RMPOS_WEB/UserdetailService.asmx" />
		<add key="IMDPortalUserValidate.UserDetails" value="http://imd.reliancegeneral.co.in/UserDetails.asmx" />
		<add key="FABHolidayService.GetFabHolidays" value="http://fab.reliancegeneral.co.in:8080/GetFabHolidays.asmx" />
		<add key="MPLUSUserValidate.CallHelpDesk" value="http://10.65.5.185/MPlusServices/CallHelpDesk.svc" />		
    <add key="TechDeskUtil.TechDeskUtil" value="http://10.65.5.80/sbm/services/TechDeskUtil" />
		<add key="TechDeskObjectService.WS_TechDesk" value="http://10.65.5.80/sbm/services/WS_TechDesk" />
    <add key="ADSDomain" value="RELIANCECAPITAL.COM" />-->
    <!-- Calldesk Production End-->
    <!-- Calldesk UAT Start-->

    <add key="EncryptDecryptKey" value="InubeSolutions" />

    <add key="UploadSavePath" value="http://calldeskuat.reliancegeneral.co.in/CallDeskDocBase/" />
    <add key="PasswordChangeDaysAllowed" value="50" />
    <add key="SMSSendService.SendMessage" value="http://relgeninsure3/services/SendMessage.svc" />
    <!--<add key="IMDPortalUserValidate.UserDetails" value="http://rgiuimdapp01.reliancegeneral.co.in/UserDetails.asmx" />-->
    <add key="IMDPortalUserValidate.UserDetails" value="http://imd.reliancegeneral.co.in/UserDetails.asmx" />
    <add key="POSUserValidate.UserDetailService" value="http://RGIUPOSAPP01/MobilePOS/UserDetailService.asmx" />
    <add key="ADSDomain" value="RELIANCECAPITAL.COM" />
    <add key="FABHolidayService.GetFabHolidays" value="http://10.65.15.143:8080/FabHolidays/GetFabHolidays.asmx" />
    <!--<add key="TechDeskUtil.TechDeskUtil" value=" http://10.62.182.42:18793/sbm/services/TechDeskUtil" />
		<add key="TechDeskService.TechDesk" value=" http://10.62.182.42:18793/sbm/services/TechDesk" />-->
    <add key="TechDeskUtil.TechDeskUtil" value="http://bpmuat.reliancegeneral.co.in:18793/sbm/services/TechDeskUtil" />
    <add key="TechDeskService.TechDesk" value="http://bpmuat.reliancegeneral.co.in:18793/sbm/services/TechDesk" />
    <!--<add key="TechDeskUtil.TechDeskUtil" value="http://rgisavuat:19793/sbm/services/TechDesk/TechDeskUtil" />
    <add key="TechDeskService.TechDesk" value="http://rgisavuat:19793/sbm/services/TechDesk" />-->



    <!-- Calldesk UAT End-->
  </appSettings>
  <system.web>
    <pages buffer="true" validateRequest="true" viewStateEncryptionMode="Always" enableViewStateMac="true" enableViewState="true" masterPageFile="~/Masters/LoginMasterPage.master" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <siteMap defaultProvider="default">
      <providers>
        <add name="default" type="System.Web.XmlSitemapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="Login.aspx" requireSSL="true" defaultUrl="default.aspx" />
    </authentication>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieRequireSSL="true" defaultProvider="SqlRoleProvider">
      <providers>
        <add applicationName="CallDeskOnline" connectionStringName="CallDeskDB" name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <add applicationName="CallDeskOnline" connectionStringName="CallDeskDB" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordFormat="Clear" name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>

    <!--<identity impersonate="true" password="abhi@666" userName="70318756"/>-->

    <httpRuntime executionTimeout="240" maxRequestLength="20480" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" enableVersionHeader="false" appRequestQueueLimit="100" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <!--<sessionState mode = "StateServer" stateConnectionString = "tcpip=loopback:42424" stateNetworkTimeout = "10" cookieless = "AutoDetect"  cookieName = "ASP.NET_SessionId"  timeout = "20"  allowCustomSqlDatabase = "false" regenerateExpiredSessionId = "true" useHostingIdentity = "true" />-->
    <!--<customErrors mode="On" defaultRedirect="/ErrorNew.aspx"/>-->

    <customErrors mode="Off">
    </customErrors>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <location path="IMD">
    <system.web>
      <pages buffer="true" validateRequest="true" />
      <authorization>
        <!--<allow users="*" />-->
      </authorization>
    </system.web>
  </location>
  <location path="gyansetu">
    <system.web>
      <pages buffer="true" validateRequest="true" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TicketApproval">
    <system.web>
      <pages buffer="true" validateRequest="true" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CallDesk/CallDesk.svc">
    <system.web>
      <pages buffer="true" validateRequest="true" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebServices">
    <system.web>
      <pages buffer="true" validateRequest="true" />
      <authorization>
        <!--<allow users="*" />-->
      </authorization>

    </system.web>
  </location>
  <location path="Files">
    <system.web>
      <pages buffer="true" validateRequest="true" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <!--VAPT Point Start by JD-->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />

        <add name="Cache-Control" value="no-cache, no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline';  img-src 'self' data:" />
        <add name="X-Content-Security-Policy" value="default-src 'self' style-src 'self' 'unsafe-inline' img-src 'self' data: " />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="4" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="401" subStatusCode="2" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="403" subStatusCode="4" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="412" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="406" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="501" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="502" prefixLanguageFilePath="" path="https://calldeskUAT.reliancegeneral.co.in" responseMode="Redirect" />
    </httpErrors>

    <httpRedirect enabled="false" destination="http://calldeskUAT.reliancegeneral.co.in" exactDestination="false" childOnly="false" httpResponseStatus="Found" />
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="/AUX/.aspx" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <!--VAPT Point End by JD-->

    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>

    <defaultDocument enabled="true">
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <!--<httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="4" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="404" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="500" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="401" subStatusCode="2" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="403" subStatusCode="4" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="412" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="406" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="405" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="501" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
      <error statusCode="502" prefixLanguageFilePath="" path="https://calldeskuat.reliancegeneral.co.in" responseMode="Redirect" />
    </httpErrors>-->

  </system.webServer>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="524288000" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferSize="524288000" maxBufferPoolSize="524288000" name="webBinding" transferMode="Streamed">
          <readerQuotas maxStringContentLength="524288000" maxArrayLength="524288000" maxBytesPerRead="524288000" maxNameTableCharCount="524288000" />
        </binding>
        <binding name="HTTPS_Binding" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="524288000" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferSize="524288000" maxBufferPoolSize="524288000" transferMode="Streamed">
          <readerQuotas maxStringContentLength="524288000" maxArrayLength="524288000" maxBytesPerRead="524288000" maxNameTableCharCount="524288000" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="CallDesk" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="ICallDesk" bindingConfiguration="webBinding" behaviorConfiguration="web"></endpoint>
        <endpoint address="" binding="webHttpBinding" contract="ICallDesk" bindingConfiguration="HTTPS_Binding" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="524288000" />
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="10" maxConcurrentInstances="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
  </system.serviceModel>
</configuration>
