<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings />
   	<connectionStrings>
	 <add name="CallDeskDB" connectionString="Data Source=RGIRMSCDdb.reliancegeneral.com,7359;Initial Catalog=CALLDESKMANAGEMENT;User ID=calldesk ;Password=calldesk;Max Pool Size=500;Min Pool Size=10;Pooling=true;" />  
 </connectionStrings>
    <system.web>
		<authorization>
			 <allow users="*"/>
		</authorization>
    </system.web>
</configuration>
