<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
    <system.webServer>
        <rewrite>
            <outboundRules>
                <remove name="Add Secure" />
                <remove name="Add HttpOnly" />
                <rule name="Add HttpOnly" enabled="false">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
                    <conditions>
                        <add input="{R:0}" pattern="; HttpOnly" negate="true" />
                    </conditions>
                    <action type="Rewrite" value="{R:0}; HttpOnly" />
                </rule>
                <rule name="Add Secure" enabled="false">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
                    <conditions>
                        <add input="{R:0}" pattern="; Secure" negate="true" />
                    </conditions>
                    <action type="Rewrite" value="{R:0}; Secure" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpErrors>
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="2" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="4" />
        </httpErrors>
    </system.webServer>
</configuration>
